<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %>を行うページです</p>
    <p>希望するシフトを入力してください。</p>
    <h4>氏名</h4>
    <p><input type="text" id="name" value=""></p>
    <h4>日付</h4>
    <p><input type="date" id="date_begin" value=""> ～ <input type="date" id="date_end" value=""></p>
    <p><input type="button" id="shiftinput" value="送信"></p>
  </body>
</html>
